 display: none;
}

.page__container {
  height: 400px;
  font-size: 32px;
  display: flex;
}

.page {
  width: 100%;
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
}

.page__homepage {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.hide {
  display: none;
}
.show {
  display: flex;
}

@media screen and (max-width: 1440px) {
@media screen and (max-width: 992px) {
  header {
    padding: 10px 12px;
  }